# .gitignore
## folders
target
.settings
bin
CVS


## files
.classpath
.project
cvslog.*
*~
*.old
*.exe
*.bak
*.BAK
*.prefs
.cvsignore
pom.xml.versionsBackup
.idea
*.iml
README.old.md
recordings/ch.abertschi.sct.domain.customerservice.getcustomer.xml
recording.xml
ch.abertschi.sct.domain.customerservice.getcustomer.xml
